
<!DOCTYPE html>
<html>
    <head>
        <title>Place Search Pagination</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="./index.js"></script>
      </head>
<body>
    <div id="container">
        <div id="map"></div>
        <div id="sidebar">
          <h2>Results</h2>
          <ul id="places"></ul>
          <button id="more">Load more results</button>
        </div>
      </div>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMMLIKKhKYVoOi9opxAoIgVh5W8blb3SU&libraries=places&v=weekly&map_ids=8d193001f940fde3"
async
></script>
    
</body>

</html>

